.tags
*private*
.vscode

pavucontrol.ini
kdeglobals
konsole.kmessagebox
konsole.notifyrc
konsolerc
Binaural*
zoomus.conf
marblerc
DirectionalCompressor.settings
kconf*
*conf
kwalletrc

*/
!alacritty/
!awesome/
!bpython/
!Code/User/
!git/
!htop/
!kitty/
!mpv/
!sway/
!systemd/
!zathura/
!matplotlib/
