.tags
*private*
.vscode

pavucontrol.ini
QtProject.conf
kdeglobals
konsole.kmessagebox
konsole.notifyrc
konsolerc

*/
!alacritty/
!awesome/
!bpython/
!Code - OSS/User/
!git/
!htop/
!kitty/
!mpv/
!sway/
!systemd/
!zathura/
!matplotlib/
