.tags
*private*
*~
*.save
.vscode

pavucontrol.ini

autostart/
caja/
calibre/
chromium/
Code/
configstore/
darktable/
dconf/
enchant/
evolution/
filezilla/
flaska.net/
fontconfig/
gconf/
geary/
GIMP/
git/
GitKraken/
goa-1.0/
google-chrome/
gpick/
gpicview/
gtk*
htop/
inkscape/
keepassx/
keepassxc/
libaccounts-glib/
libreoffice/
mate/
matplotlib/
mpv/
nautilus/
opera/
pcloud/
pulse/
qt5ct/
QtProject.conf
ranger/
scdl/
spotify/
totem/
Trolltech.conf
yay/
zathura/
