# Make Aliases applicable
#########################
	alias sudo='sudo '
	alias man='man '

# Short Commands
################
	alias ...='cd ../..'
	alias ..='cd ..'
	alias c='cd '
	alias clc=' reset'
	alias cls=' reset; ls'
	alias f='find . |grep '
	alias h='history|grep '
	alias ipy='ipython '
	alias l='less -R '
	alias n='nano '
	alias p='ps aux |grep '
	alias pac='pacman '
	alias pi='sxiv * &>/dev/null &!'
	alias py='python '
	alias q='exit'
	alias s='sudo '
	alias v='source venv/bin/activate'
	alias x='atool -x '

# Default options
#################
	alias cp='cp --reflink=auto '
  alias echo='echo -e '
	alias egrep='egrep --color=auto '
	alias fgrep='fgrep --color=auto '
	alias g++='g++ -fdiagnostics-color=always '
	alias gcc='gcc -fdiagnostics-color=always '
	alias grep='grep --color=auto '
	alias l='ls --color=force -phlgo'
	alias less='less -R '
	alias ls='ls --color=force -phl'
	alias mkdir='mkdir -p -v'
	alias watch='watch --no-title --differences '

# Script-Like aliases
#####################
	alias view_webcam='mpv /dev/video0 --vf=mirror --vf=eq=1.2:1.5:0.0:1.1:1.2:1.0:1.1'
  alias wetter='curl wttr.in/Heidelberg?lang=de'
	alias pu+='/usr/bin/pulseaudio-ctl up'
	alias pu-='/usr/bin/pulseaudio-ctl down'

# GIT
#####
	alias g='git'
	alias gs='git status'
	alias gd='git diff'
	alias gc='git commit -m'
	alias ga='git add'
	alias gpull='git pull origin $(current_branch)'
	alias gpush='git push origin $(current_branch)'
