function ipy() {
	if ! type bpython &> /dev/null; then
		echo "${RED}[In ipy] bpython not found${RES}"
		echo "Drop-in ipython"
		ipython "$@"
	else
		bpython -i ~/.config/bpython/startup.py
	fi
}

function za() {
	if ! type zathura &> /dev/null; then
		echo "${RED}[In za] zathura not found${RES}"
	else
		exec zathura "$@" &> /dev/null & disown
	fi
}

function o() {
	if ! type xdg-open &> /dev/null; then
		echo "${RED}[In o] xdg-open not found${RES}"
	else
		for file in "$@"; do
			if test -f "${file}"; then
				exec xdg-open "${file}" &> /dev/null & disown
			fi
		done
	fi
}

function graypdf() {
	for file in "$@"; do
		gs \
		 -sOutputFile="gray_$file" \
		 -sDEVICE=pdfwrite \
		 -sColorConversionStrategy=Gray \
		 -dProcessColorModel=/DeviceGray \
		 -dCompatibilityLevel=1.4 \
		 -dNOPAUSE \
		 -dBATCH \
		 -dAutoRotatePages=/None \
		 "$file"
	done
}

function current_branch() {
	ref=$(git symbolic-ref HEAD 2> /dev/null) || \
	ref=$(git rev-parse --short HEAD 2> /dev/null) || return
	echo ${ref#refs/heads/}
}

function current_repository() {
	ref=$(git symbolic-ref HEAD 2> /dev/null) || \
	ref=$(git rev-parse --short HEAD 2> /dev/null) || return
	echo $(git remote -v | cut -d':' -f 2)
}

function gclone() {
   git clone $1 ${${${${1}##*github.com}%.git}:1}
}

function run_once() {
	echo "$@"
	pgrep -u $USER -x "$@"
    if ! pgrep -u $USER -x "$@" > /dev/null; then
		exec "$@" &> /dev/null & disown
	fi
}
