#History
export TERM="linux"
export HISTFILESIZE=20000
export HISTSIZE=10000
export HISTFILE=~/.histfile
export HISTSIZE=5000
export SAVEHIST=50000
export ETC_ENV='/home/morris/etc/'

#Alias definitions
[ -f "$ETC_ENV/alias" ] && source "${ETC_ENV}/alias"

[ -f "$ETC_ENV/alias_private" ] && source "${ETC_ENV}/alias_private"

[ -f "$ETC_ENV/shell_private.rc" ] && source "${ETC_ENV}/shell_private.rc"
