#Alias definitions
[[ -s "$CONFIG_DIR/shell_private.rc" ]] && source "${CONFIG_DIR}/shell_private.rc"

[[ -s "$CONFIG_DIR/alias.rc" ]] && source "${CONFIG_DIR}/alias.rc"

[[ -s "$CONFIG_DIR/alias_private.rc" ]] && source "${CONFIG_DIR}/alias_private.rc"

[[ -s "$CONFIG_DIR/functions.rc" ]] && source "${CONFIG_DIR}/functions.rc"

[[ -s "$CONFIG_DIR/functions_private.rc" ]] && source "${CONFIG_DIR}/functions_private.rc"

[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"
