color_focus             = rgb:43/4C/5E
color_focus_maximized   = rgb:00/00/00
color_unfocus           = rgb:2E/34/40
color_unfocus_maximized = rgb:00/00/00

region_padding    = 0
tile_gap          = 2
border_width      = 3
disable_border    = 0
boundary_width    = 0
# Bar Settings
bar_enabled		= 0

modkey = Mod4
keyboard_mapping = ~/etc/spectrwm_de.rc

#Set to maximum:
workspace_limit = 22
region = screen[1]:1366x768+0+0

spawn_position = next

# QUIRKS
quirk[Steam:Steam] = FLOAT
quirk[mpv:gl] = FLOAT + FOCUSPREV
quirk[Google-chrome-stable:] = FLOAT + ANYWHERE
quirk[Google-chrome-beta:] = FLOAT + ANYWHERE

program[term] = urxvt

# Workspace naming, default layout and default spawning
name   = ws[1]:Browser
layout = ws[1]:8:0:0:0:horizontal
#---
layout = ws[3]:0:1:1:0:vertical
#---
name = ws[4]:Zotero
quirk[Zotero:Navigator] = WS[4]
#---
name   = ws[13]:Chats
layout = ws[13]:0:1:0:0:horizontal
quirk[Google-chrome-beta:app.wire.com]     = WS[13]
quirk[Google-chrome-beta:web.whatsapp.com] = WS[13]
quirk[Google-chrome-beta:web.telegram.org] = WS[13]
#---
name = ws[14]:Twitter
quirk[Google-chrome-beta:tweetdeck.twitter.com] = WS[14]
#---
name   = ws[16]:Prod
layout = ws[16]:0:1:0:0:horizontal
#---
name   = ws[17]:Music
layout = ws[17]:0:0:0:0:fullscreen
quirk[Spotify:spotify]  = WS[17]
quirk[Google-chrome-beta:soundcloud.com]  = WS[17]
#---
name   = ws[18]:Mail
layout = ws[18]:0:0:0:0:fullscreen
quirk[Thunderbird:Mail] = WS[18]
