workspace_limit	= 22
border_width 		= 2
color_focus		= rgb:3B/42/52
color_focus_maximized	= rgba:00/00/00/00
color_unfocus		= rgb:rgb:8F/BC/BB
color_unfocus_maximized	= rgba:00/00/00/00


region_padding		= 0
tile_gap		= 0
disable_border		= 0
bar_enabled		= 0
bar_border_width	= -5

region			= screen[1]:1366x768+0+0

modkey = Mod4
keyboard_mapping = ~/.spectrwm_de.conf

program[term] = urxvtc

# QUIRKS
quirk[Steam:Steam]					= FLOAT
quirk[mpv:gl]							= FLOAT + FOCUSPREV
quirk[Google-chrome-stable:]		= FLOAT + ANYWHERE


# Workspace naming
name = ws[1]:Browser
name = ws[4]:Zotero
name = ws[18]:Mail
name = ws[17]:Spotify
name = ws[16]:Prod
name = ws[13]:Chats
name = ws[14]:Twitter
