keystate_numlock = enable
#keystate_capslock = enable
#keystate_scrolllock= enable

"rofi -show run"
 m:0x0 + c:66
 #VoidSymbol

# Spawning controls
"konsole"
 Mod4 + d

"gnome-system-monitor"
 Control+Alt + Delete

"xrandr --auto"
 Mod4 + p

"lock"
 XF86ScreenSaver

# Display brightness
"brillo -U 15"
 XF86MonBrightnessDown

"brillo -A 15"
 XF86MonBrightnessUp

# Sound Volume
"amixer sset Master 5%-"
 XF86AudioLowerVolume

"amixer sset Master 5%+"
 XF86AudioRaiseVolume

"amixer sset Master toggle"
 XF86AudioMute

"amixer sset Capture toggle"
 XF86AudioMicMute

# Audio controls
"playerctl next"
 XF86AudioNext

"playerctl previous"
 XF86AudioPrev

"playerctl play-pause"
 XF86AudioPlay

# xF86MyComputer
"xdg-open ~"
 XF86MyComputer
