keystate_numlock = enable
#keystate_capslock = enable
#keystate_scrolllock= enable

"rofi -show run"
 VoidSymbol

"rofi -show run"
 XF86Launch1

"lock"
 XF86ScreenSaver

# Display brightness
"xbacklight -dec 20"
 XF86MonBrightnessDown

"xbacklight -inc 20"
 XF86MonBrightnessUp

# Sound Volume
"amixer sset Master 5%-"
 XF86AudioLowerVolume

"amixer sset Master 5%+"
 XF86AudioRaiseVolume

"amixer sset Master toggle"
 XF86AudioMute

"amixer sset Capture toggle"
 XF86AudioMicMute

# Audio controls
"playerctl next"
 XF86AudioNext

"playerctl previous"
 XF86AudioPrec

"playerctl play-pause"
 XF86AudioPlay

# xF86MyComputer
"xdg-open ~"
 XF86MyComputer

# Spawning controls
"kitty"
 m:0x40 + c:40
    #super + d

"gnome-usage"
 m:0xc + c:119
	#Control+Alt + Delete

# projector mode :P
"xrandr --auto"
 m:0x40 + c:33
 	#Mod4 + p
