{
        "dmenu_params": "-l 10 -i -nb '#111' -nf '#f8f8f0' -sb '#f8bb39' -sf '#111' -p \"[$(xprop -root _NET_CURRENT_DESKTOP | awk '{print ++$3}')] $(date +'%H%M')$(acpi -b | awk -F',' '{print $2}')\""
}
