{
        "dmenu_params": "-i -b -nb '#0a0a0a' -nf '#FFF8DB' -sf '#df3a24' -sb '#1a0a0a' -fn 'Dina' -p \"[$(xprop -root _NET_CURRENT_DESKTOP | awk '{print ++$3}')] $(date +'%H%M')$(acpi -b | awk -F',' '{print $2}')\""
}
