#!/bin/sh

### LOCAL ENV
userresources=$HOME/.Xresources
usermodmap=$HOME/.Xmodmap
###

### ENV
export EDITOR="nano"
export DRI_PRIME=1
# export GTK_MODULES=rgba
export QT_QPA_PLATFORMTHEME=qt5ct
# export QT_STYLE_OVERRIDE=gtk2
export TEXMFHOME=~/.local/share/texmf
###

### KEYBOARD
test -r "$usermodmap" && xmodmap "$usermodmap"
# Shortcuts
xbindkeys
# Set my special keymaps
setxkbmap -layout morris,morris -variant de,ir -option "grp:shifts_toggle"
# Make the Print/Druck key the Super_R key
setxkbmap -option "altwin:prtsc_rwin"
# Deactivate capslock
setxkbmap -option "caps:none"
###

### OTHER CONFIG
test -r "$userresources" && xrdb -load "$userresources"
# Set Energy Features off
xset -dpms
# Set screensaver off
xset s off
# Set bell off
xset b off
#xrandr --setprovideroutputsource modesetting NVIDIA-0
xrandr --auto
#xrandr --dpi 168
###

### GLOBAL X SCRIPTS
if test -d /etc/X11/xinit/xinitrc.d; then
 for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
  test -x "$f" && . "$f"
 done
 unset f
fi
###

[[ -z $1 ]] && exec awesome || exec $1
