setopt NOTIFY
setopt AUTO_CD
unsetopt beep
setopt no_hup
setopt no_check_jobs

#HISTORY
###
	#Immediatly append to histfile
	setopt inc_append_history
	#Ignore commands with leading space
	setopt hist_ignore_space
	#Ignore ALL dups
	setopt hist_ignore_all_dups
	#Don't store the history command
	setopt hist_no_store
	#Save more information in histfile
	setopt extended_history
	#bindkey  "^[[A"  history-beginning-search-backward
	#bindkey  "^[[B"  history-beginning-search-forward-end
###

source "${HOME}/.profile"

#Plugins
source "${CONFIG_DIR}/zsh/plugins.zsh"

#Key bindings
source "${CONFIG_DIR}/zsh/keybindings.zsh"

#Completition
source "${CONFIG_DIR}/zsh/completion.zsh"

#Compdefs
source "${CONFIG_DIR}/zsh/compdef.zsh"

export PYTHONBREAKPOINT=ipdb.set_trace

PATH="/home/morris/perl5/bin${PATH:+:${PATH}}"; export PATH;
PERL5LIB="/home/morris/perl5/lib/perl5${PERL5LIB:+:${PERL5LIB}}"; export PERL5LIB;
PERL_LOCAL_LIB_ROOT="/home/morris/perl5${PERL_LOCAL_LIB_ROOT:+:${PERL_LOCAL_LIB_ROOT}}"; export PERL_LOCAL_LIB_ROOT;
PERL_MB_OPT="--install_base \"/home/morris/perl5\""; export PERL_MB_OPT;
PERL_MM_OPT="INSTALL_BASE=/home/morris/perl5"; export PERL_MM_OPT;
