 [Unit]
 Description=Firefox profile memory cache

 [Install]
 WantedBy=default.target

 [Service]
 Type=oneshot
 RemainAfterExit=yes
 ExecStart=/home/morris/bin/firefox-sync %i
 ExecStop=/home/morris/bin/firefox-sync %i
